body {
    background: #f4f6f9;
}

.text-gray-dark {
    color: #666;
}

.text-blue {
    color: #0351ff !important;
}

a.btn:hover {
    color: #fff !important;
}

.choose-business {
    border: none;
    background: transparent;
    padding: 0 !important;
    margin: 0 15px 0 15px;
}

.choose-business:focus {
    outline: none;
}

.right-underline-title {
    display: inline-block;
    position: relative;
}

.right-underline-title::after {
    content: "";
    position: absolute;
    background: #3490dc;
    height: 3px;
    width: 70%;
    right: 0px;
    bottom: -7px;
}

.card {
    border: none;
    box-shadow: 0px 0px 7px 0px #ccc;
}

.card-header, .card-footer {
    background: #fff;
}

.card-header {
    border-bottom: 1px solid rgba(172, 172, 172, 0.10);
}

.card-footer {
    border-top: 1px solid rgba(172, 172, 172, 0.10);
}

.form-control {
    box-shadow: 0 0 5px 0 #bbb;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #f8fafc;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #f8fafc;
}

.layout-navbar-fixed .wrapper .brand-link {
    border-bottom: none;
}

.main-header.navbar-white {
    background: #f4f6f9;
}

.nav-legacy.nav-sidebar .nav-item > .nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-legacy.nav-sidebar .nav-item > .nav-link.active {
    background: #f4f6f9;
    box-shadow: 0 1px 2px 0 #adadad;
}

.nav-sidebar .nav-link > p > .right {
    top: auto;
}

.badge-default {
    background: #e5e6e6;
    padding: 5px 15px;
    border-radius: 15px;
}

label {
    color: #999;
    font-weight: 400 !important;
}

.hd-fixed-wrapper::-webkit-scrollbar-track,
.custom-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.hd-fixed-wrapper::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
}

.hd-fixed-wrapper::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
    height: 6px;
}
