<template>
    <div v-if="form.errors.message"
         class="alert"
         :class="{'alert-default-success':form.errors.status == 'success',
         'alert-default-primary':form.errors.status == 'info',
         'alert-default-danger':form.errors.status == 'error'}">
        {{form.errors.message}}
    </div>
</template>

<script>
    export default {
        name: "vAlert",
        props: ['form']
    }
</script>

<style scoped>

</style>
