<template>
    <form @submit.prevent="doSubmitForm"
          @input="data.errors.clear()">
        <slot/>
    </form>
</template>

<script>
    export default {
        name: "vForm",
        props: ['action', 'method', 'data', 'clear'],
        data: function () {
            return {
                message: "Test Message",
                clearForm: this.clear ?? true
            }
        },
        methods: {
            doSubmitForm: async function () {
                try {
                    if (this.method === 'post') {
                        const response = await this.data.post(this.action, this.clearForm);
                    }
                    if (this.method === 'put') {
                        const response = await this.data.put(this.action, this.clearForm);
                    }
                } catch (e) {
                    /*console.log(e.response);*/
                }
            }
        }
    }
</script>

<style scoped>

</style>
