<template>
    <label v-if="label"
           :for="field">
        {{label}}
    </label>
    <input :type="type"
           v-model="form[field]"
           :class="[allClasses, {'is-invalid':form.errors.has(field)}]"
           :id="field"
           :autofocus="autofocus"
           :readonly="form.busy"
           :autocomplete="autocomplete"
           :placeholder="placeholder">
    <ul class="list-unstyled text-danger p-0"
        style="font-size: 12px;"
        v-if="form.errors.has(field)">
        <li class="mt-1"
            v-for="message of form.errors.getAll(field)">{{ message }}
        </li>
    </ul>
</template>

<script>
    export default {
        name: "vInput",
        props: ['form', 'field', 'type', 'class', 'placeholder', 'label', 'autofocus', 'autocomplete'],
        data: function () {
            return {
                allClasses: this.class,
                dataType: this.type ?? 'text'
            }
        },
        watch: {},
    }
</script>

<style scoped>

</style>
