<template>
    <button type="submit"
            :class="[allClasses]"
            :disabled="form.busy">
        <slot v-if="!form.busy"/>
        <span v-if="form.busy">
            <i class="fa fa-spin fa-circle-notch"></i>
            Processing, Please wait...
        </span>
    </button>
</template>

<script>
    export default {
        name: "vSubmit",
        props: ['form', 'class'],
        data: function () {
            return {
                allClasses: this.class
            }
        },
    }
</script>

<style scoped>

</style>
